In [12]:
import sys
sys.path.append('..')

# Import the function from src
from src.data.load_data import load_raw_data

# Specify the filename
filename = 'nb.csv'  
 

# Call the function to load the data
df = load_raw_data(filename)


# Now you can use 'df' in your notebook

In [4]:
df.head()

,id,order_id,driver_id,driver_action,lat,lng,created_at,updated_at
0,1,392001,243828,accepted,6.602207,3.270465,NaN,NaN
1,2,392001,243588,rejected,6.592097,3.287445,NaN,NaN
2,3,392001,243830,rejected,6.596133,3.281784,NaN,NaN
3,4,392001,243539,rejected,6.596142,3.280526,NaN,NaN
4,5,392001,171653,rejected,6.609232,3.288800,NaN,NaN

In [13]:
df.tail()

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time
536015,1637696,"6.448218499999999,3.4772075","6.437787399999999,3.481670199999999",2021-12-30 20:35:06,2021-12-30 21:02:59
536016,1637702,"6.442320899999999,3.4736868","6.436589333407897,3.5559738188407835",2021-12-30 20:48:13,2021-12-30 21:43:49
536017,1637704,"6.4281982,3.492248","6.448088500000001,3.4775747",2021-12-30 20:51:45,2021-12-30 21:41:32
536018,1637705,"6.5869296,3.3632966","6.637906899999999,3.3339515",2021-12-30 20:48:50,2021-12-30 21:08:28
536019,1637709,"6.647209999999999,3.4851489","6.454915198823159,3.555839938365194",2021-12-30 20:55:38,2021-12-30 22:25:00

In [14]:
df.info

<bound method DataFrame.info of         Trip ID                         Trip Origin  \
0        391996  6.508813001668548,3.37740316890347
1        391997                 6.4316714,3.4555375
2        391998         6.631679399999999,3.3388976
3        391999         6.572757200000001,3.3677082
4        392001                 6.6010417,3.2766339
...         ...                                 ...
536015  1637696         6.448218499999999,3.4772075
536016  1637702         6.442320899999999,3.4736868
536017  1637704                  6.4281982,3.492248
536018  1637705                 6.5869296,3.3632966
536019  1637709         6.647209999999999,3.4851489

                            Trip Destination      Trip Start Time  \
0                6.650969799999999,3.3450307  2021-07-01 07:28:04
1            6.4280814653326,3.4721885847586  2021-07-01 06:38:04
2                6.508324099999999,3.3590397  2021-07-01 06:21:02
3                6.584881099999999,3.3614073  2021-07-01 07:16:07
4                        6.4501069,3.3916154  2021-07-01 09:30:59
...                                      ...                  ...
536015   6.437787399999999,3.481670199999999  2021-12-30 20:35:06
536016  6.436589333407897,3.5559738188407835  2021-12-30 20:48:13
536017           6.448088500000001,3.4775747  2021-12-30 20:51:45
536018           6.637906899999999,3.3339515  2021-12-30 20:48:50
536019   6.454915198823159,3.555839938365194  2021-12-30 20:55:38

              Trip End Time
0       2021-07-01 07:29:37
1       2021-07-01 07:07:28
2       2021-07-01 07:02:23
3       2021-07-01 07:29:42
4       2021-07-01 09:34:36
...                     ...
536015  2021-12-30 21:02:59
536016  2021-12-30 21:43:49
536017  2021-12-30 21:41:32
536018  2021-12-30 21:08:28
536019  2021-12-30 22:25:00

[536020 rows x 5 columns]>

In [15]:
df.describe()

            Trip ID
count  5.360200e+05
mean   9.910221e+05
std    3.456364e+05
min    3.919960e+05
25%    6.935610e+05
50%    9.910085e+05
75%    1.281570e+06
max    1.637709e+06

In [17]:
df.isnull().sum()

Trip ID                0
Trip Origin            0
Trip Destination       0
Trip Start Time     1651
Trip End Time          1
dtype: int64